*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: aqua;
}

.visorResultado{
  font-size: 25px;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
}
.tiraResultadoVisor{
  font-size: 0;
}

.calculadora-wrapper{
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  width: 350px;
  height: 362px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  background-color: rgb(199, 199, 199);
}

.calculadora button{
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 10px;
  width: 80px;
  height: 60px;
  font-size: 20px;
}

.calculadora button:hover{
  background-color: rgb(212, 211, 211);
}
